* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: #F3E3C5;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
}
header img {
    width: 15%;
    margin-left: 20px;
    margin-right: 100px;
}
nav {
    background-color: #46ebd5;
    height: 80px;
    display: flex;
    align-items: center;
}
nav .menulista {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .menulista li{
    list-style: none;
}
nav .menulista li a{
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-size: 15px;
    margin: 18px;
}
.banner >img {
    width: 100%;
    height: 100%;
    position: relative;
}
.texto {
    position: absolute;
    text-align: center;
    top: 160px;
    bottom: 0;
    right: 0;
    left: 25px;
}
.texto h1 strong{
    color: white;
    font-size: 100px;
    font-family:cursive;
}




/* delibery */

.acercade {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 50px 0px;
    background-color: #eceef1;
 }
.acercade p, h2 {
    font-family: 'open sans'; 
}
.acercade section {
    width: 80%; 
    display: flex; 
    flex-direction: row;
}
.acercade section p {
    padding: 60px;
}
.acercade section h3 {
    padding: 60px;
    display: flex;
}
.acercade  h2 {
    padding-bottom: 25px; 
    color: darkblue;
}
/* bloque servicios */

main { 
    display: flex;  
    flex-direction: column;  
    align-items: center;   
    padding: 80px 0; 
     
     
}

.servicios{ 
    display: flex; 
    flex-direction: column; 
    background-color: #eceef1;
}
.servicios h1{ 
    padding-top: 20px; 
    color: black;
}
.servicios section{ 
    width: 80%;  
    display: flex; 
    justify-content: space-around; 
    color: black;
}
.servicios section figure{ 
    width: 25%;  
    padding: 30px; 
    text-align: center;
}
.servicios section figure img{ 
    width: 90px;
}
.servicios section figure h3{ 
    font-size :18px;
} 
 
/* forter */
footer{
    background: #0d5e53;
    padding: 60px 0 30px 0;
    margin: auto;
    box-shadow: 0 0 6px 0 rgba(231, 6, 6, 0.5);
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(231, 6, 6, 0.5);
}
.content-foo h4{
    border-bottom: 3px solid #af20d3;
    text-align: center;
}
.content-foo p{
    color: #ccc;
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
