* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: black;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
}
header img {
    width: 15%;
    margin-left: 20px;
    margin-right: 100px;
}
nav {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
}
nav .menulista {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .menulista li{
    list-style: none;
}
nav .menulista li a{
    text-decoration: none;
    font-family: cursive;
    color: white;
    font-size: 15px;
    margin: 18px;
}
.banner img {
    width: 100%;
    height: 100%;
    position: relative;
}
.texto {
    position: absolute;
    text-align: center;
    top: 160px;
    bottom: 0;
    right: 0;
    left: 25px;
}
.texto h1 strong{
    color: white;
    font-size: 100px;
    font-family:cursive;
}
main {
    display: flex; flex-direction: column; align-items: center; background-color: black; padding: 40px 0;
}
main p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Tahoma';
}
main h1 {
    color: white;
    font-size: 22px;
    font-family: cursive;
}
main section {
    width: 80%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
}
main section figure {
    width: 25%; padding: 30px; text-align: center; 
}
main section figcaption {
    color: white;
    font-size: 20px;
    font-family: cursive;
}
main section figure img {
    width: 100%; 
}
